@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --blake-800: #23222b;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 600px) {
  .profilePic {
    zoom: 0.65;
  }
}

body {
    background-size: 10rem;
    background-repeat: repeat;
    background-image: url("https://assets-global.website-files.com/62c6f0db8f3bd1cd89369e11/63692dc4d63c3c7a0e928e04_pattern-new.png");
    background-blend-mode: multiply;
}
